mat-card {
  padding: 1.5rem 0;
  width: 80%;
  margin: auto;
}

form {
  width: 90%;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-picker {
  margin-bottom: 18px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
